node_modules/
*.log
*.env
*.idea
*.test-results
*.e2e
.eslintignore
.prettierignore
dist
coverage
test-results
*.env
    
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

